*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    transition: all 0.3s;
}   

body{
    max-width: 100dvw;
    margin: 0 auto;
    height: 100dvh;
    background-color: #e5e5e5;
}
